@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.orador {
    border: 1px solid lightgray;
    width: 300px;
    border-radius: 5px;
}

.orador > img {
    width: 300px;

}

.textoOrador {
    margin: .7rem;
}

.botones > input {
    border: 0;
    border-radius: 3px;
    padding: 0rem .5rem 0.2rem .5rem;
    font-size: .8rem;
    font-weight: bold;
    /*todo: alinear verticalmente*/
    /* display: flex;
    align-items: center;
    flex-direction: row; */
}


.btnAmarillo {
    background: rgb(254, 193, 7);
}

.btnCeleste {
    background: rgb(25, 161, 185);
    color: white;
}

.titulo {
    font-size: 1.4rem;
    margin: 0.1rem 0 1rem 0;
}

.descripcion {
    font-size: .9rem;
}