<!doctype html>
<html lang="en">
  <head>
    <title>Crear Usuario</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body class="bg-light">
    <div class="py-4 text-center">
      <img class="d-block mx-auto mb-4" src="./images/logo.jpg" alt="Logo caba" width="72" height="72">
      <h2>Crear Usuario</h2>
      <p class="lead">Página para crear un usuario que luego nos permitirá ingresar al sistema.</p>
    </div>

    <div class="col-md-12 text-center">
      <form class="needs-validation" novalidate action="../controller/checkUsuario.php" method="POST">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="user">Usuario</label>
            <input type="text" class="form-control" id="user" name="user" placeholder="Tu usuario" value="" required>
            <div class="invalid-feedback">
              Debe ingresar su usuario.
            </div>
          </div>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>          
          <div class="col-md-6 mb-3">
            <label for="pass">Contraseña</label>
            <input type="password" class="form-control" id="pass" name="pass" placeholder="Tu contraseña" value="" required>
            <div class="invalid-feedback">
              Faltó ingresar la contraseña.
            </div>
          </div>
        </div>        

        <hr class="mb-4">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Crear Usuario</button>
          </div>
        </div>        
      </form>

    </div>
  

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>